 
   #cell6, #cell10 {
    border-top : 0px;
    border-bottom: 0px;
  }

  .chakra-table   {
    width: 100%;
    max-width: 500px; 
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
   }


 .chakra-table td {
    border : 2px solid black;
    min-width: 60px;
    width: 25%;
    height: 100px;
    padding: 20px;
    text-align: center;
  }
 
  .ios .about-info {
    text-align: center;
  }  
 