.label-align {
    text-align: right;
    padding-right: 10px;
    margin-top:10px;
}

.input-align{
     margin-left: 5px;
}

.day-button-align{
    text-align: center;
    margin-left: 120px;
    padding-left: 20px;
   
}

.button-align{
    margin-top:10px;
    margin-left: 5px;
}

.custom-spinner{
  
        width: 100px;
        height: 100px;
        color: blue;
        display: block;
        margin: auto;
     
     
   
}

.npl-rules{
    margin-top: 10px !important;
    padding-top: 10px;
}