 
   #cell6, #cell10 {
    border-top : 0px;
    border-bottom: 0px;
  }

  .chakra-table   {
    width: 100%;
    max-width: 500px; 
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    font-size: small;
   }

   .planet-table   {
    width: 100%;
    max-width: 500px; 
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    font-size: small;
    text-align: left;
   }

   .npl-table   {
    width: 100%;
    max-width: 500px; 
    min-width: 300px;
    margin: auto;
    margin-top: 20px;
    font-size: medium;
    text-align: left;
   }

.main_label {
  white-space: pre-wrap
}

 .npl-table  td {
    border : 1px solid gray;
    min-width: 30px;
 
 
    padding: 5px;
    text-align: left;
    justify-content: flex-end;
  }
 
  .ios .about-info {
    text-align: center;
  }  
 