#cell6,
#cell10 {
  border-top: 0px;
  border-bottom: 0px;
}
 
.npl-table {
  width: 98%;
  max-width: 500px;
  min-width: 300px;
  margin: auto;
  margin-top: 20px;
  font-size: medium;
  text-align: left;
}

.main_label {
  white-space: pre-wrap;
}

.npl-table td {
  border: 3px inset darkgreen;
  min-width: 30px;
  padding: 5px;
  text-align: left;
  justify-content: flex-end;
}

.ios .about-info {
  text-align: center;
}
