 
   .cell6 {
    border-top : 2px solid green !important;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
     
    
  }

  #chakra-table td {
    border : 2px solid black;
    
    padding: 20px;
    text-align: center;
  }


   
  
  .ios .about-info {
    text-align: center;
  }  
 